*{
	padding: 0 auto;
	margin: 0 auto;
}
div.omheen1{	
	margin: 0 auto;
	width: 400px;
}

body{
	background-size: 100%;
	background-color: black;
}

}
div.p{
	color: white;
	width: 40%;
	margin: 0 auto;
}
a{
	text-decoration: none;
	text-decoration-color: blue;
}
h1{
	text-align: center;
}


div.balky{
	background-color: blue;
	padding: 5px;
	margin-top: 0px;
}
div.kop{
	background-color: lightblue;
	padding: 0 auto;
	margin-bottom: 0px;
}


div.text{
	background-color: lightblue;
	border-style: solid;
	padding: 10px;
	border-color: blue;
	margin-left: 10px;
	border-style: double;
	width: 500px;
	margin: 0 auto;
	text-align: center;
}


img.pokemon{
	display: block;
}
